<link rel="stylesheet" href="{{ "/assets/css/webweb/style.css" | absolute_url }}">
<script type="text/javascript" src="{{ "/assets/js/webweb/Blob.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/webweb/colors.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/webweb/d3.v5.min.js" | absolute_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/webweb/FileSaver.min.js" | absolute_url }}"></script>

<div id='example-visualization' style='width: 100%'><br></div>
<script type="text/javascript">
    var wwdata = {{include.webweb_json | jsonify }};
    wwdata.display.attachWebwebToElementWithId = "example-visualization";

    {% if include.responsive == true %}
    wwdata.display.w = undefined;
    wwdata.display.h = undefined;
    {% endif %}

    {% if include.fix_width == false %}
    wwdata.display.w = 250;
    {% endif %}
    {% if include.fix_height == false %}
    wwdata.display.h = 250;
    {% endif %}
</script>
<br>
<script type="text/javascript" src="{{ "/assets/js/webweb/webweb.v5.js" | absolute_url }}"></script>
